@import "./variables";
@import "./sections/header";
@import "./sections/navbar";
@import "./sections/infobox";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #103c52;
    font-family: $primary-font;
    color: $primary-text-color;
}

p {
    font-family: $secondary-font;
    font-size: 0.8rem;
}

#year-array {
    white-space: pre;
}